python-dotenv==1.0.1
groq>=1.0.0
SpeechRecognition==3.10.3
pyaudio==0.2.14
gTTS==2.5.4
pygame==2.6.1
psutil
PyGetWindow
PyAutoGUI
chromadb
sentence-transformers
playwright>=1.40.0
pywinauto>=0.6.8
pytest>=8.0.0
pytest-asyncio>=0.23.0
matplotlib>=3.10.9
customtkinter>=5.2.2
Pillow>=10.2.0
opencv-python>=4.9.0
edge-tts>=7.2.8
google-generativeai>=0.8.3
numpy>=1.26.4
pyperclip>=1.11.0
pytesseract>=0.3.13
requests>=2.33.1
staticmap>=0.5.7
pywin32>=311
